{% load static %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">

<div class="about_us">
    <p>
        <a name="about_us" style="scroll-margin-top: 150px;"></a>
        <a name="about_us2" style="scroll-margin-top: 350px;"></a>
    </p>
    <div class="container">
        <div class="about_block">
            <div class="titles">
                <h2 class="d-none d-lg-block">О нас</h2>
                <p>Компания “Tomiko Trade” - ваш надежный поставщик по доставке новых и подержанных автомобилей из Южной Кореи, Японии и Китая.

Вам не нужно разбираться в тонкостях процесса приобретения автомобиля. Мы делаем это за Вас. Наша цель - помочь Вам приобрести юридически чистый автомобиль без пробега по РФ с экономией от 300 000₽.</p>
                <div class="btns_stage">
                    <div class="btns_a">
                        <button onclick="openQuestionnaireForm(event)">Подобрать авто</button>
                    </div>
                <a href="https://wa.me/79244202432" target="_blank"><img src="/static/img/w1.svg" alt="whatsapp"></a>
               </div>
            </div>
            <div class="img_abouts">
                <img src="/static/main/img/abot.png" alt="О компании">
            </div>
        </div>
        <div class="bottom_abouts">
            <div class="item">
                <h3>5 +</h3>
                <p>Лет на рынке</p>
            </div>
            <div class="item">
                <h3>4 000 +</h3>
                <p>довольных клиентов</p>
            </div>
            <div class="items">
                <img src="/static/img/class.webp" alt="Лайк">
                <p>Прозрачное ценообразование с <br> подробным разъяснением затрат на <br> каждом этапе</p>
            </div>
            <div class="items">
                <img src="/static/img/doc.webp" alt="Листок">
                <p>Полное сопровождение и <br> предоставление фото/видео <br> отчета на протяжение всей сделки</p>
            </div>
            <div class="items">
                <img src="/static/img/dog.webp" alt="Рукопожатие">
                <p>Проверенные <br> поставщики</p>
            </div>
        </div>
    </div>
</div>