{% load static %}
<link rel="stylesheet" href="{% static 'main/css/actions.css' %}">

<h1>Акции</h1>
<div class="actions-blocks">

            <div id="action_1" class="actions-block">
                <h2>Приведи друга 👍</h2>
                <div class="text">Каждый третий клиент обращается к нам по рекомендации знакомых, друзей, родственников. Этот факт нас безумно радует, и в знак благодарности мы запустили акцию “Приведи друга”.</div>

                <div class="points">

                        <div class="point"><span>1</span> Вы рекомендуете нашу компанию;</div>

                        <div class="point"><span>2</span> По вашей рекомендации человек заключает с нами договор на приобретение автомобиля;</div>

                        <div class="point"><span>3</span> Вы получаете денежное вознаграждение или скидку на следующий заказ.</div>

                </div>


                <div>
                    <div class="ws-text">Более подробную информацию можно узнать у наших менеджеров.</div>
                    <a href="https://wa.me/79244202432" target="_blank">Получить консультацию <img src="/static/img/ico-whatsapp.svg" alt="whatsapp"></a>
                </div>



                <img class="action" src="/media/images/2024/11/18/Group_37665.webp" alt="action1">
            </div>

            <div id="action_2" class="actions-block">
                <h2>Оплата депозита двумя частями 🤝</h2>
                <div class="text">За долгие годы работы мы выработали для вас идеальную схему работы.
Представьте, что Мы нашли для вас идеальный вариант автомобиля, но у вас нет полной суммы для оплаты депозита на руках.&nbsp;

Не проблема! В нашей компании вы может оплатить депозит частями. Первую часть депозита оплачиваете в момент заключения договора, вторую - после покупки автомобиля.

Важно уточнить, что конечная цена от этого не изменится.
Делаем все для вашего удобства и доверия.</div>

                <div class="points">

                </div>


                    <button onclick="openQuestionnaireForm()">Оставить заявку</button>


                <img class="action" src="/media/images/2024/11/18/Group_37669_1.webp" alt="action1">
            </div>

            <div id="action_3" class="actions-block">
                <h2>Оптовые заказы 🚗 🚙</h2>
                <div class="text">Если вы планируете заказать сразу более 1 автомобиля, то для вас действует система лояльности - 10% скидка на комиссию компании на каждый последующий автомобиль в заказе.</div>

                <div class="points">

                </div>


                    <button onclick="openQuestionnaireForm()">Оставить заявку</button>


                <img class="action" src="/media/images/2024/11/20/1731744035670_1.webp" alt="action1">
            </div>




    </div>