{% extends 'main/layout.html' %}

{% block title %}Авто{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'main/css/auto.css' %}">
<link rel="stylesheet" href="{% static 'main/css/card.css' %}">

<div class="page-level">
    <a href="{% url 'home' %}">Главная</a><a> • Каталог</a>
</div>

<h1>АВТОМОБИЛИ</h1>

<div id="form-filter">
    <form id="form-query" method="get" action="">
        <select name="brand" id="brand">
            <option value="">Марка авто</option>
            {% for brand in brands %}
                <option value="{{ brand.id }}">{{ brand.brand }}</option>
            {%endfor %}
        </select>
        <div>
            <select name="year_from" id="year_from">
                <option value="">Год от</option>
                {% for year in years %}
                    <option value="{{ year.year }}">{{ year.year }}</option>
                {%endfor %}
            </select>
            <span>|</span>
            <select name="year_to" id="year_to">
                <option value="">до</option>
                {% for year in years %}
                    <option value="{{ year.year }}">{{ year.year }}</option>
                {%endfor %}
            </select>
        </div>
        <div>
            <select name="volume_from" id="volume_from">
                <option value="">Объем от</option>
                {% for volume in volumes %}
                    <option value="{{ volume.engine_volume }}">{{ volume.engine_volume }}</option>
                {%endfor %}
            </select>
            <span>|</span>
            <select name="volume_to" id="volume_to">
                <option value="">до</option>
                {% for volume in volumes %}
                    <option value="{{ volume.engine_volume }}">{{ volume.engine_volume }}</option>
                {%endfor %}
            </select>
        </div>
        <select name="drive" id="drive">
            <option value="">Привод</option>
            {% for drive in drives %}
                <option value="{{ drive.drive }}">{{ drive.drive }}</option>
            {%endfor %}
        </select>
        <select name="model" id="model">
            <option value="">Модель авто</option>
            {% for model in models %}
                <option value="{{ model.model }}">{{ model.model }}</option>
            {%endfor %}
        </select>
        <div>
            <select name="mileage_from" id="mileage_from">
                <option value="">Пробег от</option>
                {% for mileage in mileages %}
                    <option value="{{ mileage.mileage }}">{{ mileage.mileage }} км</option>
                {%endfor %}
            </select>
            <span>|</span>
            <select name="mileage_to" id="mileage_to">
                <option value="">до</option>
                {% for mileage in mileages %}
                    <option value="{{ mileage.mileage }}">{{ mileage.mileage }} км</option>
                {%endfor %}
            </select>
        </div>
        <select name="transmission" id="transmission">
            <option value="">Тип КПП</option>
            {% for transmission in transmissions %}
                <option value="{{ transmission.transmission }}">{{ transmission.transmission }}</option>
            {%endfor %}
        </select>
        <select name="color" id="color">
            <option value="">Цвет</option>
            {% for color in colors %}
                <option value="{{ color.color }}">{{ color.color }}</option>
            {%endfor %}
        </select>
    </form>
    <input type="submit" class="submit" onclick="submit_form()" value="Показать">
    <button class="reset" onclick="reset()">Сбросить параметры</button>
</div>

{% include 'main/popular.html' %}

{% if cars %}
<form method="get" onchange="submit_sort()">
    <select name="sort" id="sort">
        <option value="">Сортировка</option>
        <option value="mileage_h">Пробег: по возрастанию</option>
        <option value="mileage_l">Пробег: по убыванию</option>
        <option value="price_h">Стоимость: по возрастанию</option>
        <option value="price_l">Стоимость: по убыванию</option>
        <option value="volume_h">Объем: по возрастанию</option>
        <option value="volume_l">Объем: по убыванию</option>
        <option value="year_h">Год: по возврастанию</option>
        <option value="year_l">Год: по убыванию</option>
    </select>
</form>
<div class="cards">
    {% for car in cars %}
        {% include 'main/card.html' with model=car.model price=car.price transmission=car.transmission mileage=car.mileage year=car.year brand=car.brand_country.brand car_id=car.id %}
    {%endfor %}
</div>
{% else %}
    <div class="null-result">
        <img src="static/main/img/work2.webp">
        <div>
            <p>К сожалению по заданным параметрам ничего не найдено</p>
            <p>Попробуйте изменить условия поиска</p>
            <button class="reset" onclick="reset()">Сбросить параметры</button>
        </div>
    </div>
{% endif %}

{% include 'main/contact.html' %}
{% include 'main/subscribe.html' %}

<script>
    sort = new URL(document.location).searchParams.get("sort")
    if (sort != null) document.getElementById("sort").value = sort

    brand = new URL(document.location).searchParams.get("brand")
    if (brand != null) document.getElementById("brand").value = brand

    drive = new URL(document.location).searchParams.get("drive")
    if (drive != null) document.getElementById("drive").value = drive

    color = new URL(document.location).searchParams.get("color")
    if (color != null) document.getElementById("color").value = color

    model = new URL(document.location).searchParams.get("model")
    if (model != null) document.getElementById("model").value = model

    transmission = new URL(document.location).searchParams.get("transmission")
    if (transmission != null) document.getElementById("transmission").value = transmission

    year_from = new URL(document.location).searchParams.get("year_from")
    if (year_from != null) document.getElementById("year_from").value = year_from

    year_to = new URL(document.location).searchParams.get("year_to")
    if (year_to != null) document.getElementById("year_to").value = year_to

    mileage_from = new URL(document.location).searchParams.get("mileage_from")
    if (mileage_from != null) document.getElementById("mileage_from").value = mileage_from

    mileage_to = new URL(document.location).searchParams.get("mileage_to")
    if (mileage_to != null) document.getElementById("mileage_to").value = mileage_to

    volume_from = new URL(document.location).searchParams.get("volume_from")
    if (mileage_from != null) document.getElementById("volume_from").value = volume_from

    volume_to = new URL(document.location).searchParams.get("volume_to")
    if (volume_to != null) document.getElementById("volume_to").value = volume_to

    function submit_sort() {
        const select = document.getElementById("sort")
        if (select.value) {
            let sort = new URL(document.location).searchParams.get("sort")
            let url = new URL(document.location)
            if (sort == null) {
                url.searchParams.append("sort", select.value)
                location.replace(url)
            } else {
                url.searchParams.set("sort", select.value);
                location.replace(url)
            }
        }
    }

    function submit_form() {
        const select = document.getElementById("form-query");
        select.submit()
    }

    function reset() {
        location.replace(window.location.pathname)
    }
</script>

{% endblock %}