{% extends 'main/layout.html' %}

{% block title %}{{ car }}{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/car.css' %}">
<link rel="stylesheet" href="{% static 'main/css/glide.core.min.css' %}">

<div class="page-level">
    <a href="{% url 'home' %}">Главная</a><a href="{% url 'auto' %}"> • Каталог</a><a> • {{ car }}</a>
</div>

<div class="car-info">
    <div class="text">
        <h1 class="title">{{ car }}</h1>
        <div class="price">
            <div>{{ price }} <span class="rub">₽</span></div>
            <div class="hidden">{{ car.price }} <span class="rub">₽</span></div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onchange="changeCurrency(event);">
                <label class="form-check-label" for="flexSwitchCheckDefault">Криптовалюта</label>
            </div>
        </div>
        <div class="info_questionary">
            <div class="btns_stage">
                <div class="btns_a">
                    <button onclick="request()">Оставить заявку</button>
                </div>
                <a href="{% url 'whatapp' %}" target="_blank"><img src="/static/main/img/w1.svg" alt="whatsapp"></a>
            </div>
            <div class="economy">Экономия до 30% от рынка авто в наличии <img src="/static/main/img/info.svg" alt="иконка информация"></div>
        </div>

        <table class="info_table">
            <tbody>
                {% for key, value in tax.items %}
                <tr>
                    <td>{{ key }}:</td>
                    <td><span>{{ value }} руб.</span></td>
                </tr>
                {%endfor %}
                <tr>
                    <td>Год выпуска:</td>
                    <td><span>{{ car.year }} г.</span></td>
                </tr>
                <tr>
                    <td>Кузов:</td>
                    <td><span>Нет данных</span></td>
                </tr>
                <tr>
                    <td>Страна:</td>
                    <td><span>{{ car.brand_country.country }}</span></td>
                </tr>
                <tr>
                    <td>КПП:</td>
                    <td><span>{{ car.transmission }}</span></td>
                </tr>
                <tr>
                    <td>Двигатель:</td>
                    <td><span>{{ power_volume }} л.c.</span></td>
                </tr>
                <tr>
                    <td>Объем двигателя:</td>
                    <td><span>{{ engine_volume }} л.</span></td>
                </tr>
                <tr>
                    <td>Привод:</td>
                    <td><span>{{ car.drive }}</span></td>
                </tr>
                <tr>
                    <td>Цвет:</td>
                    <td><span>{{ car.color }}</span></td>
                </tr>
                    <td>Пробег:</td>
                    <td><span>{{ car.mileage }} км</span></td>
                </tr>
            </tbody>
        </table>

        <button class="price_model_opener" onclick="openPriceModal()">Подробный расчет</button>
    </div>

    {% if images %}
        <div class="images">
            <div class="glide" id="images">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for image in images %}
                        <li class="glide__slide">
                            <img class="img-auto" src="{{ image }}">
                        </li>
                        {%endfor %}
                    </ul>
                </div>
                <div data-glide-el="controls">
                    <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                        <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"></path>
                      </svg>
                    </button>
                
                    <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                        <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path>
                      </svg>
                    </button>
                </div>
            </div>
            <div class="mini-images">
                {% for image in images %}
                <img class="img-mimi" src="{{ image }}">
                {%endfor %}
            </div>
        </div>
    {% else %}
        <div class="images">
            <img class="img-auto mini-image" src="/static/main/img/auto.png">
        </div>
    {% endif %}
</div>

<script type="text/javascript" src="{% static 'main/js/glide.min.js' %}">new Glide('.glide').mount()</script>

<script>
    function request() {
        hash = "contactForm"
        location.hash = "#" + hash;
    }

    var glide = new Glide('.glide', {
        type: 'carousel',
        perView: 1,
        animationDuration: 600,
        autoplay: 5000
    }).mount()

    function glideUpdate(n) {
        glide.update({ startAt: n })
    }

    var divs = document.getElementsByClassName("img-mimi");
    for (var i = 0; i < divs.length; i++) {
        divs[i].setAttribute("onclick", "glideUpdate(" + i + ")")
    }

    console.log(divs.length)

</script>

{% include 'main/contact.html' %}

{% endblock %}