{% load static %}
<link rel="stylesheet" href="{% static 'main/css/card.css' %}">

<a>
    <div class="car-card">
        <div class="car-info">
            <h2 class="car-title">Subaru LEVORG VN5</h2>
            <p class="car-details">2021 • Гибрит • 10 000 км</p>
        </div>
        <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/89595b00dd2cd69bfb46cc5ecb4227273c7fa140805030a51054654083e73feb?placeholderIfAbsent=true&apiKey=c53cc4aa2e1e4fce93d845a6854eaa73"
            class="car-image" alt="Subaru LEVORG VN5 2021 hybrid vehicle" />
        <div class="price-action">
            <div class="price">2 115 600 ₽</div>
            <button class="action-button" tabindex="0">Оставить заявку</button>
        </div>
    </div>
</a>