{% load static %}
<link rel="stylesheet" href="{% static 'main/css/commissions.css' %}">

<div class="commissions">
    <div class="title">КОМИССИИ</div>
    <div class="cards">
        <div class="card">
            <div class="cont">
                <img src="/static/main/img/flag2.webp" alt="Флаг Японии">
                <div class="country">Япония</div>
                <div class="price">60 000 <span class="rub">₽</span></div>
            </div>
            <a target="_blank" href="/static/main/files/Tomiko Trade.pdf">Договор
                <img src="/static/main/img/arr_white.svg" alt="стрелка"></a>
        </div>

        <div class="card">
            <div class="cont">
                <img src="/static/main/img/flag.svg" alt="Флаг Кореи">
                <div class="country">Корея</div>
                <div class="price">100 000 <span class="rub">₽</span></div>
            </div>
            <a target="_blank" href="/static/main/files/Tomiko Trade.pdf">Договор
                <img src="/static/main/img/arr_white.svg" alt="стрелка"></a>
        </div>

        <div class="card">
            <div class="cont">
                <img src="/static/main/img/flag3.svg" alt="Флаг Китая">
                <div class="country">Китай</div>
                <div class="price">150 000 <span class="rub">₽</span></div>
            </div>
            <a target="_blank" href="/static/main/files/Tomiko Trade.pdf">Договор
                <img src="/static/main/img/arr_white.svg" alt="стрелка"></a>
        </div>
    </div>
    <div class="text">
        У нас доступна оплата депозита частями
        <a class="more" href="/actions/">Подробнее тут <img src="/static/main/img/arr_white.svg" alt="стрелка"></a>
    </div>
</div>