{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
    <header class="header">
        <div class="header-links">
            <a href="{% url 'home' %}">
                <img src="{% static 'main/img/logo.png' %}" width="80px">
            </a>
            <a href="{% url 'auto' %}">Авто</a>
            <a href="{% url 'promo' %}">Акции</a>
            <a href="{% url 'contacts' %}">Контакты</a>
        </div>
        <div class="contacts">
            <a>+7 (999) 678-56-56</a>
            <a href="{% url 'telegram' %}">
                <img src="{% static 'main/img/cta_button.svg' %}" width="40px">
            </a>
            <a href="{% url 'whatapp' %}">
                <img src="{% static 'main/img/cta_button1.svg' %}" width="40px">
            </a>
        </div>
    </header>
    <div class="header-margin"></div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block max-width %}
    {% endblock %}

    <footer class="footer">
        <div>
            <div class="footer-links">
                <div>
                    <img src="{% static 'main/img/logo.png' %}" width="80px">
                    <div>
                        <ul>
                            <h4>КАТАЛОГ</h4>
                            <li>
                                <a href="{% url 'auto' %}">Авто</a>
                            </li>
                        </ul>
                        <ul>
                            <h4>КОМПАНИЯ</h4>
                            <li>О компании</li>
                            <li>Клипы</li>
                            <li>Отзывы</li>
                        </ul>
                        <ul>
                            <h4>&#8203</h4>
                            <li>
                                <a href="{% url 'about_us' %}">Условия работы</a>
                            </li>
                            <li>
                                <a href="{% url 'promo' %}">Акции</a>
                            </li>
                            <li>
                                <a href="{% url 'contacts' %}">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-contacts">
                    <p class="gray-text">Звонок по России бесплатный</p>
                    <p class="footer-number">+7 (999) 678-56-56</p>
                    <div>
                        <a href="{% url 'telegram' %}">
                            <img src="{% static 'main/img/ico-tg2.svg' %}">
                        </a>
                        <a href="{% url 'whatapp' %}">
                            <img src="{% static 'main/img/ico-whatsapp.svg' %}">
                        </a>
                        <a href="{% url 'vk' %}">
                            <img src="{% static 'main/img/ico-wk2.svg' %}"></a>
                        <a href="{% url 'instagram' %}">
                            <img src="{% static 'main/img/ico-insta2.svg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="about-company">
                <a>© 2024 ООО «Правый руль» Автомобили под заказ из Кореи, Китая и Японии</a>
                <a target="_blank" href="/static/main/files/Tomiko Trade.pdf">Политика конфидециальности</a>
            </div>
        </div>
    </footer>
</body>

</html>