{% load static %}
<link rel="stylesheet" href="{% static 'main/css/marquee.css' %}">

<div class="logos_brand">
            <div class="">
                <div class="logo-carousel">
                    <div class="marquee"><div style="width: 100000px; margin-left: 0px; animation: 80.787s linear 0s infinite normal none running marqueeAnimation-1330998;" class="js-marquee-wrapper"><div class="js-marquee" style="margin-right: 0px; float: left;">

                            <div style="display: inline-flex">

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand1.webp" alt="Logo 1">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand2.webp" alt="Logo 2">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand3.webp" alt="Logo 3">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand4.webp" alt="Logo 4">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand5.webp" alt="Logo 5">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand6.webp" alt="Logo 6">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand7.webp" alt="Logo 7">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand8.webp" alt="Logo 8">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand9.webp" alt="Logo 9">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand10.webp" alt="Logo 10">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand11.webp" alt="Logo 11">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand12.webp" alt="Logo 12">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand13.webp" alt="Logo 13">
                                    </button>

                            </div>

                            <div style="display: inline-flex">

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand1.webp" alt="Logo 1">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand2.webp" alt="Logo 2">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand3.webp" alt="Logo 3">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand4.webp" alt="Logo 4">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand5.webp" alt="Logo 5">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand6.webp" alt="Logo 6">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand7.webp" alt="Logo 7">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand8.webp" alt="Logo 8">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand9.webp" alt="Logo 9">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand10.webp" alt="Logo 10">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand11.webp" alt="Logo 11">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand12.webp" alt="Logo 12">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand13.webp" alt="Logo 13">
                                    </button>

                            </div>

                            <div style="display: inline-flex">

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand1.webp" alt="Logo 1">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand2.webp" alt="Logo 2">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand3.webp" alt="Logo 3">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand4.webp" alt="Logo 4">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand5.webp" alt="Logo 5">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand6.webp" alt="Logo 6">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand7.webp" alt="Logo 7">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand8.webp" alt="Logo 8">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand9.webp" alt="Logo 9">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand10.webp" alt="Logo 10">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand11.webp" alt="Logo 11">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand12.webp" alt="Logo 12">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand13.webp" alt="Logo 13">
                                    </button>

                            </div>

                    </div><div class="js-marquee" style="margin-right: 0px; float: left;">

                            <div style="display: inline-flex">

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand1.webp" alt="Logo 1">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand2.webp" alt="Logo 2">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand3.webp" alt="Logo 3">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand4.webp" alt="Logo 4">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand5.webp" alt="Logo 5">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand6.webp" alt="Logo 6">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand7.webp" alt="Logo 7">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand8.webp" alt="Logo 8">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand9.webp" alt="Logo 9">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand10.webp" alt="Logo 10">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand11.webp" alt="Logo 11">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand12.webp" alt="Logo 12">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand13.webp" alt="Logo 13">
                                    </button>

                            </div>

                            <div style="display: inline-flex">

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand1.webp" alt="Logo 1">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand2.webp" alt="Logo 2">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand3.webp" alt="Logo 3">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand4.webp" alt="Logo 4">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand5.webp" alt="Logo 5">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand6.webp" alt="Logo 6">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand7.webp" alt="Logo 7">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand8.webp" alt="Logo 8">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand9.webp" alt="Logo 9">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand10.webp" alt="Logo 10">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand11.webp" alt="Logo 11">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand12.webp" alt="Logo 12">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand13.webp" alt="Logo 13">
                                    </button>

                            </div>

                            <div style="display: inline-flex">

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand1.webp" alt="Logo 1">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand2.webp" alt="Logo 2">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand3.webp" alt="Logo 3">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand4.webp" alt="Logo 4">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand5.webp" alt="Logo 5">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand6.webp" alt="Logo 6">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand7.webp" alt="Logo 7">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand8.webp" alt="Logo 8">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand9.webp" alt="Logo 9">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand10.webp" alt="Logo 10">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand11.webp" alt="Logo 11">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand12.webp" alt="Logo 12">
                                    </button>

                                    <button onclick="openQuestionnaireForm()">
                                        <img loading="lazy" src="/static/main/img/brand13.webp" alt="Logo 13">
                                    </button>

                            </div>

                    </div><style>@-webkit-keyframes marqueeAnimation-1330998  { 100%  {margin-left:-5468.77px}}</style></div></div>
                </div>
            </div>
        </div>