{% load static %}
<link rel="stylesheet" href="{% static 'main/css/marquee.css' %}">

<div class="logos_brand logos_brand2">
    <div class="">
        <div class="logo-carousel">
            <div class="marquee2">
                <div style="width: 100000px; margin-left: 0px; animation: 132.875s linear 1s infinite marqueeAnimation-3082731;"
                    class="js-marquee-wrapper">
                    <div class="js-marquee" style="margin-right: 0px; float: left;">

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                    </div>
                    <div class="js-marquee" style="margin-right: 0px; float: left;">

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                        <div style="display: inline-flex">

                            <a href="/actions/#action_1" class="red-line">Денежное вознаграждение за рекомендацию</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_2" class="red-line">Оплата депозита двумя частями</a>
                            <span class="red-line">|</span>

                            <a href="/actions/#action_3" class="red-line">Система лояльности для оптовых заказов</a>
                            <span class="red-line">|</span>

                        </div>

                    </div>
                    <style>
                        @-webkit-keyframes marqueeAnimation-3082731 {
                            100% {
                                margin-left: -6584.68px
                            }
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</div>