{% load static %}
<link rel="stylesheet" href="{% static 'main/css/questionnaire_form.css' %}">

<div class="modal_form_back" onclick="closeQuestionnaireForm()">
    <div class="modal_form contacts" onclick="event.stopPropagation()">
        <div class="top">
            <button class="close" onclick="closeQuestionnaireForm()"><img src="/static/img/close.svg" alt="Закрыть"></button>
        </div>
        <form class="contact_form" method="post" action="">
            <div class="form_title">
                <div class="title">Оставить заявку</div>
                <div class="text">Оставьте заявку и менеджер отправит Вам актуальные варианты автомобилей под Ваши требования 👨‍💻</div>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="jCGmLxy8Y2xvBrmQBxlAppgCUiHkchmH7F8P2X6vLRSwosvWV9RyhsNrIaQ8X3Ro">
            <div class="form_group">
                <label>
                    <p>Имя</p>
                    <input type="text" name="name" placeholder="Введите имя" pattern="^[A-Za-zА-Яа-яЁё\s]+$" title="Имя должно содержать только буквы и пробелы." maxlength="20" required="" aria-describedby="id_name_helptext" id="id_name">
                </label>
                <label>
                    <p>Телефон</p>
                    <input type="tel" name="phone_number" placeholder="+7" pattern="^\+7 [0-6,9]\d{2} \d{3} \d{2} \d{2}$" title="Формат: '+7 999 999 99 99' и номер не должен начинаться с 8 или 7 после кода +7" maxlength="16" required="" aria-describedby="id_phone_number_helptext" id="id_phone_number">
                </label>
            </div>
            <div class="form_group">
                <label>
                    <p>Уточните свой вопрос</p>
                    <textarea name="content" cols="40" rows="10" placeholder="Введите текст сообщения, укажите страну, марку и год машины." maxlength="200" id="id_content"></textarea>
                </label>
            </div>
            <div class="form_group">
                <label>
                    <span class="checkmark"></span>
                    <input type="checkbox" name="privacy_policy_agreed" required="" id="id_privacy_policy_agreed" checked="">
                    <p>С <a target="_blank" href="/static/files/%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0%20%D0%BA%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8%20tomiko-trade.pdf">правилами политики конфиденциальности</a> ознакомлен</p>
                </label>
            </div>
            <div class="form_group">
                <button type="submit" name="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>