{% load static %}
<link rel="stylesheet" href="{% static 'main/css/social_media.css' %}">

<section class="subscribe">
    <div class="subscribe_row">
        <img loading="lazy" src="/static/main/img/subscribe_image.png" alt="Подпишись" class="subscribe_image">
        <div class="subscribe_right">
            <div class="title">
                <h2><span>Подпишись</span>, чтобы не пропустить выгодные предложения от нашей компании!</h2>
            </div>
            <a href="https://t.me/+RkSgbPfr1BJhODE6" class="subscribe_item" target="_blank">
                <div class="subscribe_item_img">
                    <img loading="lazy" src="/static/main/img/ico-tg.svg" alt="tg">
                </div>
                <div>
                    Телеграм-канал
                    <img loading="lazy" src="/static/main/img/arr_link.svg" alt="Стрелка1">
                </div>
            </a>
            <a href="https://vk.com/tomiko_trade" class="subscribe_item" target="_blank">
                <div class="subscribe_item_img">
                    <img loading="lazy" src="/static/main/img/ico-wk.svg" alt="ВК">
                </div>
                <div>
                    VK
                    <img loading="lazy" src="/static/main/img/arr_link.svg" alt="Стрелка2">
                </div>
            </a>
            <a href="https://www.instagram.com/praviyrul.jp?igsh=N3VucnNibWsyZzVk" class="subscribe_item" target="_blank">
                <div class="subscribe_item_img">
                    <img loading="lazy" src="/static/main/img/ico-insta.svg" alt="Inst">
                </div>
                <div>
                    Instagram
                    <img loading="lazy" src="/static/main/img/arr_link.svg" alt="Стрелка3">
                </div>
            </a>
        </div>
    </div>
</section>