.car-card {
    border-radius: 24px;
    background-color: rgba(8, 30, 54, 1);
    max-width: 338px;
    flex-direction: column;
    overflow: hidden;
}

.car-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-weight: bold;
}

.car-title {
    color: rgba(255, 255, 255, 1);
    font: 24px, sans-serif;
    margin: 10px;
}

.car-details {
    color: rgba(255, 255, 255, 0.5);
    font: 14px, sans-serif;
    margin: 10px;
    margin-top: 0;
}

.car-image {
    aspect-ratio: 1.69;
    object-position: center;
    width: 318px;
    margin-top: 16px;
    margin: 10px;
}

.price-action {
    display: flex;
    width: 100%;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    justify-content: space-between;
}

.price {
    text-align: right;
    align-self: stretch;
    margin: auto 0;
    font: bold 24px sans-serif;
    margin: 10px;
}

.action-button {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 12px 16px;
    font: 600 14px/1.4 Inter, sans-serif;
    cursor: pointer;
    border: none;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    margin: 10px;
}