.clips {
    padding: 60px 0 100px 0;
    margin: 0 0 80px 0;
    position: relative;
    z-index: 1
}

.clips::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 48%;
    width: 100%;
    margin-top: 70px;
    height: 75%;
    background: linear-gradient(95deg,#0d2f68 0,#d51117 100%);
    transform: rotate(-3deg) translate(-50%,-62%);
    clip-path: polygon(0 0,100% 0,100% 95%,0 100%);
    z-index: -1
}

.clips .title h2 {
    font-family: Bebas-Neue,Arial,sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;
}

.clips .section_top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 24px 0;
}

.clips .clips_link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 30px;
    background: rgba(255,255,255,0.1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: #FFF;
    margin-right: 30px;
}

.clips .clips_swiper {
    overflow: visible
}

.clips .clips_swiper .swiper-slide {
    width: auto
}

.clips img {
    width: 150px;
    height: 264px;
    border-radius: 16px
}

.clips .title img {
    aspect-ratio: 1 / 1;
    width: 70px;
    height: 70px
}