body {
    background-color: #010e1d;
    margin: 0;
}

.content {
    margin: auto auto;
    max-width: 1600px;
}

.header {
    background-color: rgb(1, 14, 29);
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-margin {
    height: 100px;
}

.contacts {
    display: flex;
    align-items: center;
    padding-right: 16px;
    color: white;
    font-weight: bold;
}

.contacts > img {
    padding: 6px;
}

.contacts > a {
    margin-right: 10px;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links > a {
    padding: 10px;
    color: rgba(232, 230, 227, 0.7);
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    background-color: #06182b;
    width: 100%;
    padding: 10px 0 10px 0;
    border-top: 4px solid #d51117;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.footer-links > div {
    display: flex;
    align-items: start;
}

.footer-links > div > div {
    display: flex;
    color: white;
}

.footer > div > div > img {
    margin-top: 10px;
}

.footer-links > div > div > ul > li {
    list-style: none;
    padding-bottom: 10px;
}

.footer-links > div > div > ul > li > a {
    text-decoration: none;
    color: gray;
}

.footer-links > div > div > ul{
    margin-top: 0;
}

.footer-number {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.about-company {
    display: flex;
    color: rgba(232, 230, 227, 0.7);
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
}

.about-company > a {
    text-decoration: none;
    color: rgba(232, 230, 227, 0.7);
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 10px;
}

.footer-contacts > div > a {
    margin-right: 10px;
}

.gray-text {
    color: gray;
}

.page-level {
    margin-left: 10px;
}

.page-level a {
    color: gray;
    text-decoration: none;
}